@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: KalamehWeb;
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/kalameh/woff2/KalamehWebFaNum-Regular.woff2') format('woff2'),
    url('/fonts/kalameh/woff/KalamehWebFaNum-Regular.woff') format('woff');
}

@font-face {
  font-family: KalamehWeb;
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/kalameh/woff2/KalamehWebFaNum-Medium.woff2') format('woff2'),
    url('/fonts/kalameh/woff/KalamehWebFaNum-Medium.woff') format('woff');
}

@font-face {
    font-family: IRANSansfanum;
    font-style: normal;
    font-weight: 900;
    src: url("/fonts/iransansfanum/eot/IRANSansWeb(FaNum)_Black.eot");
    src: url("/fonts/iransansfanum/eot/IRANSansWeb(FaNum)_Black.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-8 */
            url("/fonts/iransansfanum/woff2/IRANSansWeb(FaNum)_Black.woff2")
            format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/
            url("/fonts/iransansfanum/woff/IRANSansWeb(FaNum)_Black.woff")
            format("woff"),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
            url("/fonts/iransansfanum/ttf/IRANSansWeb(FaNum)_Black.ttf")
            format("truetype");
}

@font-face {
    font-family: IRANSansfanum;
    font-style: normal;
    font-weight: bold;
    src: url("/fonts/iransansfanum/eot/IRANSansWeb(FaNum)_Bold.eot");
    src: url("/fonts/iransansfanum/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-8 */
            url("/fonts/iransansfanum/woff2/IRANSansWeb(FaNum)_Bold.woff2")
            format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/
            url("/fonts/iransansfanum/woff/IRANSansWeb(FaNum)_Bold.woff")
            format("woff"),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
            url("/fonts/iransansfanum/ttf/IRANSansWeb(FaNum)_Bold.ttf")
            format("truetype");
}

@font-face {
    font-family: IRANSansfanum;
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/iransansfanum/eot/IRANSansWeb(FaNum)_Medium.eot");
    src: url("/fonts/iransansfanum/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-8 */
            url("/fonts/iransansfanum/woff2/IRANSansWeb(FaNum)_Medium.woff2")
            format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/
            url("/fonts/iransansfanum/woff/IRANSansWeb(FaNum)_Medium.woff")
            format("woff"),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
            url("/fonts/iransansfanum/ttf/IRANSansWeb(FaNum)_Medium.ttf")
            format("truetype");
}

@font-face {
    font-family: IRANSansfanum;
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/iransansfanum/eot/IRANSansWeb(FaNum)_Light.eot");
    src: url("/fonts/iransansfanum/eot/IRANSansWeb(FaNum)_Light.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-8 */
            url("/fonts/iransansfanum/woff2/IRANSansWeb(FaNum)_Light.woff2")
            format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/
            url("/fonts/iransansfanum/woff/IRANSansWeb(FaNum)_Light.woff")
            format("woff"),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
            url("/fonts/iransansfanum/ttf/IRANSansWeb(FaNum)_Light.ttf")
            format("truetype");
}

@font-face {
    font-family: IRANSansfanum;
    font-style: normal;
    font-weight: 200;
    src: url("/fonts/iransansfanum/eot/IRANSansWeb(FaNum)_UltraLight.eot");
    src: url("/fonts/iransansfanum/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-8 */
            url("/fonts/iransansfanum/woff2/IRANSansWeb(FaNum)_UltraLight.woff2")
            format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/
            url("/fonts/iransansfanum/woff/IRANSansWeb(FaNum)_UltraLight.woff")
            format("woff"),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
            url("/fonts/iransansfanum/ttf/IRANSansWeb(FaNum)_UltraLight.ttf")
            format("truetype");
}

@font-face {
    font-family: IRANSansfanum;
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/iransansfanum/eot/IRANSansWeb(FaNum).eot");
    src: url("/fonts/iransansfanum/eot/IRANSansWeb(FaNum).eot?#iefix")
            format("embedded-opentype"),
        /* IE6-8 */ url("/fonts/iransansfanum/woff2/IRANSansWeb(FaNum).woff2")
            format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/
            url("/fonts/iransansfanum/woff/IRANSansWeb(FaNum).woff")
            format("woff"),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
            url("/fonts/iransansfanum/ttf/IRANSansWeb(FaNum).ttf")
            format("truetype");
}

body {
  font-family: KalamehWeb;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.rtl {
  direction: rtl !important;
}

.ltr {
  direction: ltr !important;
}

.container {
  margin-inline: auto;
  padding-inline: 2rem;
}

.dark {
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}


.react-flow__controls {
  flex-direction: row !important;
  gap: 4;
  bottom: 40 !important;
  left: 40 !important;
}

.react-flow__attribution {
  display: none;
}

[data-slot="sheet-overlay"] {
  display: none !important;
}

.sidebar-sheet button {
  display: none;
}

.bg-gradient {
  @apply bg-gradient-to-b from-indigo-400 to-indigo-500
}

.bg-gradient-secondary {
  @apply bg-[#111827]
}

.react-flow__handle {
  font-family: Arial, Helvetica, sans-serif;
  background: white !important;
  border: solid 1px #6d6d6d !important;
  padding: 12px;
  @apply font-bold
}

.react-flow__edge.animated path {
  stroke-dasharray: 12 !important;
  stroke-width: 5px !important;
  stroke: #e4e4e4;
}

.react-flow__node-reactComponent.selected .noding {
  @apply border-5
}

.ring-sidebar-ring svg {
  @apply size-5
}

.link-font {
  font-family: Arial, Helvetica, sans-serif !important;
}

[data-slot="dialog-overlay"] {
  z-index: 60;
}

[data-slot="dialog-content"] {
  z-index: 70;
}

.dropable-items>div:first-child {
  @apply min-h-44
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app {
  font-family: sans-serif;
  display: flex;
  flex: 1;
  overflow: hidden;
}

.content {
  display: flex;
  flex: 1;
}

.canvas {
  @apply min-h-44
}


.uppy-size--md .uppy-Dashboard-inner {
  width: 100% !important;
}

.uppy-StatusBar-actions {
  display: flex !important;
  justify-content: flex-end !important;
  width: 100% !important;
  padding-left: 20px;
}

.uppy-centerize {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center  !important;
}
.react-flow__handle-top {
    z-index: 1000   !important;
}

.sidebar-bg {
  @apply bg-[#111827]
}